* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.welcome {
  font-size: 2.9rem;
  font-weight: 500;
  margin-left: 1rem;
}

.logo {
  height: 5.25rem;
}
.app {
  position: relative;
  max-width: 100%;
  margin: 4rem auto;
  display: grid;
  margin-left: 20rem;
  grid-template-columns: 50% 30%;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  opacity: 1;
  transition: all 1s;
}
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}
h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.employee-details {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 2rem;
  background-color: #fff;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 2rem;
  margin-left: 17rem;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

select.dept option {
  background-color: #9be15d;
}

.form__btn--del {
  margin-left: 2rem;
  font-size: 1.5rem;
  background: rgb(182, 60, 121);
  border: none;
  border-radius: 0.7rem;
  font-size: 2rem;
  opacity: 0.8;
  cursor: pointer;
}
.movements {
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
  height: 300px;
}

.movements__row {
  padding: 1 rem;
  border-bottom: 1px solid #eee;
  display: grid;
  text-align: center;
  grid-template-columns: 5rem 17rem 17rem;
}
.movements__head {
  padding: 1 rem;
  border-bottom: 1px solid #eee;
  display: grid;
  text-align: center;
  grid-template-columns: 5rem 17rem 17rem;
}
.movements__header {
  background: rgb(140, 189, 182);
  font-size: 15px;
  font-weight: bolder;
  border-radius: 5px;
  margin: 2px;
}
.movements__type {
  background: rgb(232, 240, 238);
  font-size: 12px;

  border-radius: 1px;
  margin: 2px;
}
.movements__type--done {
  border: 2px solid green;
  text-decoration: line-through;
}

.form--check {
  margin-top: 5px;
  margin-left: 10px;
}
